:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
