.page {
  display: grid;
  justify-items: center;
  align-content: start;
  font-family: var(--font-geist-sans);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 10;
}

.title {
  text-align: center;
  font-size: 40px;
  border: none;
  outline: none;
  background: transparent;
}

.title:focus::placeholder {
  color: transparent;
}

.add-container {
  display: grid;
  justify-items: center;
  grid-template-columns: auto auto auto;
  padding: 5px;
  width: 50%;
}


.add-container p {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition: transform 0.1s ease;
}

.add-container p:active {
  transform: translateY(2px);
}

.vision-image {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  padding: 30px;
  gap: 30px;
  font-family: var(--font-geist-sans);
}

.vision-image .add-image {
  cursor: pointer;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 300px;
  min-height: 200px;
}

.editable-image, .non-editable-image {
  width: 220px;
  height: 300px;
  min-height: 200px;
  background: #f0f0f0;
  border: 0.2rem solid white;
  border-radius: 0.1rem;
  transition: border-color 0.3s ease;
}

.editable-image:hover {
  border-color: black;
  cursor: pointer;
}

.remove-image {
  position: absolute;
  top: 8px;
  right: 4px;
  color: grey;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.remove-image:hover {
  color: black
}
