.page {
  display: grid;
  justify-items: center;
  font-family: var(--font-geist-sans)
}

.title {
  font-size: 40px;
}

.add-container {
  display: grid;
  justify-items: center;
  align-items: space-evenly;
  grid-template-columns: auto auto;
  padding: 5px;
  width: 50%;
}

.add-container p {
  cursor: pointer;
  text-align: center;
}

.vision-image {
  display: grid;
  /* grid-template-rows: 20px 1fr 20px; */
  grid-template-columns: auto auto auto auto;
  align-items: center;
  /* justify-items: center; */
  /* min-height: 100svh; */
  padding: 30px;
  gap: 30px;
  font-family: var(--font-geist-sans);
}

.vision-image .add-image {
  cursor: pointer;
}
